<% 
require "luci.fs"
local ftp = require ("ftp.libftp")
local ftp_running = ftp.ftp_running()

if not ftp_running then
  luci.sys.exec("/etc/init.d/ftp stop &")
end
	if luci.http.formvalue("status") == "1" then
		local rv = {
			localtime  = os.date(),
			ref = ref,
			log = ftp.log(),
		}


		luci.http.prepare_content("application/json")
		luci.http.write_json(rv)

		return
	end

-%>

<%+header%>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[


	XHR.poll(1, '<%=REQUEST_URI%>', { status: 1 },
		function(x, info)
		{
			var ls = document.getElementById('log');
			if (ls)
			{
				/* clear all rows */
				while( ls.rows.length > 1 )
					ls.rows[0].parentNode.deleteRow(1);

				for( var i = 0; i < info.log.length; i++ )
				{
		
					var tr = ls.rows[0].parentNode.insertRow(-1);
						tr.className = 'cbi-section-table-row cbi-rowstyle-';
						
							tr.insertCell(-1).innerHTML = String.format(
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />' +
								'%s<br />',
									info.log[i].ln[0] || 'Reading ...',
									info.log[i].ln[1] || '',
									info.log[i].ln[2] || '',
									info.log[i].ln[3] || '',
									info.log[i].ln[4] || '',
									info.log[i].ln[5] || '',
									info.log[i].ln[6] || '',
									info.log[i].ln[7] || '',
									info.log[i].ln[8] || '',
									info.log[i].ln[9] || '',
									info.log[i].ln[10] || '',
									info.log[i].ln[11] || '',
									info.log[i].ln[12] || '',
									info.log[i].ln[13] || '',
									info.log[i].ln[14] || '',
									info.log[i].ln[15] || '',
									info.log[i].ln[16] || '',
									info.log[i].ln[17] || '',
									info.log[i].ln[18] || ''
									
							);

											
				}
				if( ls.rows.length < 1 )
				{
					var tr = ls.rows[0].parentNode.insertRow(-1);
						tr.className = 'cbi-section-table-row';

					var td = tr.insertCell(-1);
						td.colSpan = 3;
						td.innerHTML = '<em><br /><%:The Server is not running.%></em>';
				}
			}
		}
	
	);

	function start_client(btn)
	{
		btn.disabled = true;
		btn.value    = '<%:Starting Server...%>';
		XHR.get('<%=luci.dispatcher.build_url("admin/ftp/start")%>',
			{ set: Math.floor((new Date()).getTime() / 1000) },
			function()
			{
				btn.disabled = false;
				btn.value    = '<%:Start%>';
			}
		);

		return false;
	}

	function stop_client(btn)
	{
		btn.disabled = true;
		btn.value    = '<%:Closing Server...%>';
		XHR.get('<%=luci.dispatcher.build_url("admin/ftp/stop")%>',
			{ set: Math.floor((new Date()).getTime() / 1000) },
			function()
			{
				btn.disabled = false;
				btn.value    = '<%:Stop%>';
			}
		);

		return false;
	}

	function clear_stats(btn)
	{
		btn.disabled = true;
		btn.value    = '<%:zapping buffer...%>';

		XHR.get('<%=luci.dispatcher.build_url("admin/ftp/clear")%>',
			{ set: Math.floor((new Date()).getTime() / 1000) },
			function()
			{
				btn.disabled = false;
				btn.value    = '<%:Clear%>';
			}
		);

		return false;
	}
//]]></script>

<%+header%>
<fieldset class="cbi-section">
<center><h6>Log Viewer</h6>
	<table class="fixed"  id="log">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell" style="width:800px; text-align:center; padding:1px"><%: FTP Server 1.06 Log %></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td id="log" colspan="4" style="width:16px; text-align:center;"><em><br /><%:Server is not Running ...%></em></td>
		</tr>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<table class="cbi-section-table" id="cntrl" table border="1">
		<tr class="cbi-section-table-titles">
		  	<th class="cbi-section-table-cell" colspan="4" style="text-align:left; padding:1px"><%:FTP Sever Contols%></th>
		</tr>		
		<tr class="cbi-section-table-row">
		  	<td colspan="3" style="text-align:left;">
				<input type="button" class="cbi-button cbi-button-apply" value="<%:Start%>" onclick="return start_client(this)" />
				<input type="button" class="cbi-button cbi-button-reset" value="<%:Stop%>" onclick="return stop_client(this)" />
				<input type="button" class="cbi-button cbi-button-remove" value="<%:Clear%>" onclick="return clear_stats(this)" />
			<td colspan="3" style="text-align:right;">
		   	</td></td>
		 </tr>
	</table>
</fieldset>


<%-
	require "luci.util"
	require "nixio.fs"

	local plugins = nixio.fs.dir(luci.util.libpath() .. "/view/admin_ftp/ftp")
	if plugins then
		local inc
		for inc in plugins do
			if inc:match("%.htm$") then
				include("admin_ftp/ftp/" .. inc:gsub("%.htm$", ""))
			end
		end
	end
-%>
<%+footer%>
